<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="..favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../estilos/style.css">
</head>
<body>
    <!-- Encabezado de página -->
    <div id="app" v-cloak>
        <header class="row g-0" id="webPages">
            <nav class="navbar navbar-expand-lg col-4">
                <a href="home.html"><img src="../assets/logo.png" alt="Logo" id="logo"></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-primary" role="button" href="home.html" id="navegation" style="margin-right: .3rem;">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary" role="button" href="tienda.html" id="navegation" style="margin-right: .3rem;">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary" role="button" href="canchasReservas.html" id="navegation" style="margin-right: .3rem;">Reservas</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary" role="button" href="contacto.html" id="navegation">Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="col-5 align-self-center">
                <h1 id="name-title">BALL d'or</h1>
            </div>
            <div class="col-3 align-self-center header">
                <a href="" class="d-block link-light text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" style="float: right; margin-left: .5rem;"><div id="avatar"></div></a>
                <a class="d-block text-decoration-none" id="name-profile">{{datosCliente.firstName}} {{datosCliente.lastName}}</a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" id="go-to" href="">Perfil</a></li>
                    <li><a class="dropdown-item" id="go-to" :href="'configuracion.html?id=' + datosCliente.id">Configuración</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" id="go-to" href="" @click.prevent="signOut">Cerrar sesión <img src="../assets/logout.png" alt="Sign out"></a></li>
                </ul>
            </div>
        </header>
        <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg" id="navbar-1">
            <div class="container-fluid d-flex flex-row-reverse">
                <button class="btn btn-primary navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="menu"><span class="menu">&equiv;</span></button>
            </div>
        </nav>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 280px;">
            <div class="offcanvas-body position-relative" id="body-menu-canvas1">
                <div class="flex-shrink-0 p-3 position-absolute top-0 end-0" style="width: 280px;">
                    <p class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-5" width="30" height="24"></svg>
                    <span class="fs-5 fw-semibold">MENU</span></p>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="home.html">Inicio <img src="../assets/home.png" alt="Home"></a>
                        </li>
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="tienda.html">Tienda <img src="../assets/store.png" alt="Store"></a>
                        </li>
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="canchasReservas.html">Reservas <img src="../assets/reservation.png" alt="Reservation"></a>
                        </li>
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="contacto.html">Contacto <img src="../assets/contact.png" alt="Contact"></a>
                        </li>
                        <li class="border-top my-3"></li>
                        <li class="mb-1">
                            <a class="nav-link link-dark rounded others" href="" @click.prevent="signOut">Cerrar sesión <img src="../assets/logout.png" alt="Sign out"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Cuerpo de página -->
        <main>
            <div class="d-flex justify-content-center">
                <div class="contenedorTiendaHeader col-12 mx-2 pt-5 text-center align-items-center text-white">
                    <h1 class="tituloTienda display-4 fw-normal my-5 pb-2 pt-5">¡Nuestra Tienda!</h1>
                    <p class="parraffoTienda col-12 text-justify">En nuestro catálogo encontraras los articulos que estas buscando parapara realizar el deporte que más te gusta.
                    </p>
                </div>
            </div>
            <form class="d-flex align-items-center  bg-white buscarProducto">
                <div class="contenedorFiltroPrecio d-flex justify-content-center">
                    <div class="contenedorInputPrecio text-center">
                        <input v-model="filtroPrecio" class="d-none" type="radio" id="menorPrecio" name="precio" value="menor">
                        <label for="menorPrecio">Menor precio</label>
                    </div>
                    <div class="contenedorInputPrecio text-center">
                        <input v-model="filtroPrecio" class="d-none" type="radio" id="mayorPrecio"  name="precio" value="mayor">
                        <label for="mayorPrecio">Mayor precio</label>
                    </div>

                </div>
                <div id="search" class="divInputBuscar mx-5">
                    <label for="busqueda" class="visually-hidden"></label>
                    <input type="text" class="form-control" id="busqueda" placeholder="Buscar producto" v-model="busqueda">
                </div>
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightCarrito"
                    aria-controls="offcanvasRight">
                    <i class="fas fa-shopping-bag shopping-bag"></i>
                </button>
            </form>

            <div class="contenedorTarjetasYFiltro d-flex">
                <div class="contenedorFiltros d-flex flex-column justify-content-between align-items-center pt-5">
                    <div class="contenedorCheckbox mt-4">
                        <input class="d-none" v-model="filtroProductos" value="Botin" type="checkbox" id="botines">
                        <label for="botines">Botines</label>
                    </div>
                    <div class="contenedorCheckbox">
                        <input class="d-none" v-model="filtroProductos" value="Camiseta" type="checkbox" id="camisetas">
                        <label for="camisetas">Camisetas</label>
                    </div>
                    <div class="contenedorCheckbox">
                        <input class="d-none" v-model="filtroProductos" value="Pelota" type="checkbox" id="pelotas">
                        <label for="pelotas">Pelotas</label>
                    </div>
                    <div class="contenedorCheckbox">
                        <input class="d-none" v-model="filtroProductos" value="Short" type="checkbox" id="short">
                        <label for="short">Short</label>
                    </div>
                    <div class="contenedorCheckbox">
                        <input class="d-none" v-model="filtroProductos" value="Medias" type="checkbox" id="medias">
                        <label for="medias">Medias</label>
                    </div>
                </div>
                <div class="album d-flex justify-content-center">
                    <div class="container d-flex">
                            <div v-for="producto in FiltroDeProductos" class="tamano-card">
                                <div class="card shadow-sm">
                                    <img v-bind:src="producto.urlImg" alt="imagen de producto" class="img-producto">                               
                                    <h6 v-cloak class="text-center">{{producto.nombreProducto}}</h6>
                                    <div class="d-flex flex-column justify-content-around align-items-center pb-1">                         
                                        <select @click="obtenerTalle" class="selectTalle">
                                            <option selected>Seleccione su talle</option>
                                            <option v-for="talle in producto.talle" :value="talle">{{talle}}</option>                                        
                                        </select>                                                     
                                        <div class="d-flex justify-content-around w-100 align-items-center">
                                                <p> Stock: {{producto.stock}}</p>
                                                <p> Precio Unitario: ${{producto.precio}}</p>
                                        </div>
                                        <div class="d-flex justify-content-around align-items-center">
                                            <button type="button" :value="producto.id" class="btn btn-dark" @click="agregarCarrito">Agregar
                                                
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 v-if="noExiste" class="text-danger">No tenemos {{busqueda}}</h5>
                    </div>
                    

                </div>
            </div>
            

            
            <!-- carrito de compras -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightCarrito" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header headerCarrito">
                  <h5 v-if="carrito.length>0" id="offcanvasRightLabel">Tu carrito</h5>
                  <h5 v-else id="offcanvasRightLabel">Tu carrito está vacío</h5>
                  <button ref="cerrar" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div v-if="carrito.length==0" class="offcanvas-body d-flex justify-content-center align-items-center">
                   <img class="imgCarrito" src="../assets/carrito-triste.png" alt="Carrito triste"> 
                </div>
                <div v-else class="offcanvas-body d-flex flex-column bodyCarrito">
                    <div v-for="producto in carrito" class="contenedorProductoCarrito d-flex justify-content-between mb-3">
                        <div class="contenedorImgProductoCarrito">
                            <img :src="producto.url" alt="Imagen del producto">
                        </div>
                        <div class="contenedorInfoProductoCarrito">
                            <h6>{{producto.nombreProducto}}</h6>
                            <div class="d-flex justify-content-between">
                                <p class="m-0">Unidades: {{producto.cantidad}}</p>
                                <p class="m-0">Talle: {{producto.talleSeleccionado}}</p>
                            </div>
                        </div>
                        <div class="contenedorBtnEliminar d-flex flex-column">
                            <p class="m-0">Subtotal: ${{subtotal(producto)}}</p>
                            <button @click="quitarCarrito" :value="producto.id" :data-id="producto.talleSeleccionado" class="btn btn-danger">Eliminar unidad</button>
                        </div>
                    </div>
                    <div class="contenedorTotalCarrito d-flex w-100 justify-content-around">
                        <h5>Productos totales: {{totalProductosCarrito}}</h5>
                        <h5>Precio total: ${{precioTotal}}</h5>
                    </div>
                    <div class="contenedorComprarCarrito mt-3 d-flex w-100 justify-content-around">
                        <button @click="vaciarCarrito" class="btn btn-danger">Vaciar</button>
                        <button @click="mostrarDatosTarjeta" class="btn btn-primary btnComprar">Comprar</button>
                    </div>
                </div>
            </div>
            <div v-if="verDatosTarjeta" class="contenedorPrincipalModal"> 
                <div  class="contenedorModalAnimacion">
                    <div class="contenedorDatosTarjeta">
                        <h5 class="text-center mb-3">Datos de la tarjeta</h5>
                        <div class="contenedorInputDatos d-flex justify-content-between align-items-center my-2">
                            <label for="numTarjeta">Número de tarjeta</label>
                            <input v-model="numeroDeTarjeta" type="text" id="numTarjeta" placeholder="0000-0000-0000-0000">
                        </div>
                        <div class="contenedorInputDatos d-flex justify-content-between align-items-center my-2">
                            <label for="titular">Titular</label>
                            <input v-model="titularTarjeta" type="text" id="titular" placeholder="Nombre Apellido">
                        </div>
                        <div class="contenedorInputDatos d-flex justify-content-between align-items-center my-2">
                            <label for="vencimiento">Vencimiento</label>
                            <input v-model="vencimiento" type="text" id="vencimiento" placeholder="2000-12">
                        </div>
                        <div class="contenedorInputDatos d-flex justify-content-between align-items-center my-2">
                            <label for="cvv">Codigo Seguridad</label>
                            <input v-model="cvc" type="number" id="cvv" placeholder="123">
                        </div>
                        <div class="contenedorInputDatos d-flex justify-content-between align-items-center my-2">
                            <p v-if="mensajeCorrecto.length>0" class="m-0 text-center">{{mensajeCorrecto}}</p>
                            <p v-if="errorMensaje.length>0" class="m-0 text-danger text-center">{{errorMensaje}}</p>
                        </div>
                        <div class="contenedorInputDatos d-flex justify-content-center align-items-center mt-4">
                            <button @click="cancelarCompra" class="btn btn-primary mx-2">Cancelar</button>
                            <button @click="comprarProductos" class="btn btn-primary mx-2">Comprar</button>
                        </div>
                        
                    </div>
                </div>
            </div>    

        </main>
        <!-- Pie de página -->
        <footer>
            <section id="footer-social">
                <a href="https://www.facebook.com" id="social"><img src="../assets/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com" id="social"><img src="../assets/instagram.png" alt="instagram"></a>
                <a href="https://www.twitter.com" id="social"><img src="../assets/twitter.png" alt="Twitter"></a>
                <a href=""><img src="../assets/whatsapp.png" alt="Whatsapp"></a>
            </section>
            <section class="row g-0 align-items-center" id="footer_suscribete">
                <div class="col">
                    <p class="familia">Forma parte de nuestra familia.</p>
                    <p style="font-size: small">Suscribite para recibir todas nuestras ofertas y novedades</p>
                </div>
                <form class="col-md-7">
                    <div class="row g-0">
                        <div class="col" style=" margin-right: 1rem;">
                            <input type="text" class="form-control" id="name" placeholder="Nombre">
                        </div>
                        <div class="col" style="margin-bottom: 1rem; margin-right: .5rem;">
                            <input type="email" class="form-control" id="email" placeholder="E-mail">
                        </div>
                        <div class="col-md-2 form-floating" id="enviar_footer">
                            <input class="btn btn-primary" type="submit" value="Enviar" id="footer_enviar">
                        </div>
                    </div>
                </form>
            </section>
            <section class="row g-0" id="footer_nav">
                <div class="col-md-6">
                    <h2 class="tittle-footer">Nos encontramos</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1708.2923166644136!2d-64.5028028738467!3d-31.093478997046123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd4aee8909d7ac72c!2zMzHCsDA1JzM2LjUiUyA2NMKwMzAnMDYuOSJX!5e0!3m2!1ses-419!2sar!4v1638541288134!5m2!1ses-419!2sar" width="100%" height="75%" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <nav class="navbar navbar-expand-lg col-md-3 align-self-start">
                    <div class="container-fluid position-relative">
                        <div class="flex-shrink-0 position-relative top-0 start-50 translate-middle-x" id="navbar-2">
                            <p class="fs-5 fw-semibold" style="text-align: center;">MENÚ PRINCIPAL</p>
                            <ul class="list-unstyled ps-0">
                                <li class="mb-1">
                                    <a class="nav-link" id="footer" href="">Tienda</a>
                                    <a class="nav-link" id="footer" href="canchasReservas.html">Reservas</a>
                                    <a class="nav-link" id="footer" href="contacto.html">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg col-md-3 align-self-start">
                    <div class="container-fluid position-relative">
                        <div class="flex-shrink-0 position-relative top-0 start-50 translate-middle-x" id="navbar-2">
                            <p class="fs-5 fw-semibold" style="text-align: center;">OTROS LINKS</p>
                            <ul class="list-unstyled ps-0">
                                <li class="mb-1">
                                    <a class="nav-link" id="footer" href="sobre-nosotros.html">Sobre nosotros</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </section>
            <section class="row g-0" id="footer_copy_tyc">
                <p id="footer-page">&copy; TODOS LOS DERECHOS RESERVADOS.</p>
            </section>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://kit.fontawesome.com/58d99c8dac.js" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://unpkg.com/vue@next"></script>

    <script src="../scripts/tienda.js"></script>
</body>
</html>