<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./estilos/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <title>Iniciar sesión | Ball D'or</title>
</head>
<body >
    <main class="d-flex justify-content-around"  id="app" v-cloak>
        <div class="contenedorImgIndex d-none d-lg-flex align-items-end justify-content-center">        
            <img src="./assets/imagen-inicio.png" alt="Jugador de futbol en juego">
        </div>
        <div class="d-flex flex-column contenedorForm">
            <h2 id="title">Ball D`or</h2>
            <div class="btnGroup">
                <button type="button" @click="inicioSesionA" class="btn btn-success my-2">Iniciar sesión</button>
                <button type="button" @click="registroA" class="btn btn-warning my-2">Registrarse</button>
            </div>
            <div class="contenedorFormIngresar">
                <form class="inicioSesion" v-if="inicioSesion" @submit.prevent="login">
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" v-model="email" class="form-control" id="email" placeholder="Email@ejemplo.com" required>
                    </div>
                    <label for="contraseña" class="form-label">Contraseña</label>
                    <div class="input-group mb-3">
                        <input :type="type" v-model="contraseña" maxlength="12" class="form-control" id="contraseña" placeholder="Contraseña" required>
                        <button v-if="hidden" class="btn btn-outline-secondary" type="button" @click="showPassword" style="background-color: white;"><img src="./assets/hidden.png" alt=""></button>
                        <button v-if="show" class="btn btn-outline-secondary" type="button" @click="showPassword" style="background-color: white;"><img src="./assets/show.png" alt=""></button>
                    </div>
                    <div class="mb-3">
                        <ul class="list-unstyled ps-0">
                            <li class="mb-1">
                                <a class="nav-link rounded others" id="form-sign" data-bs-toggle="offcanvas" aria-controls="offcanvasRight01" href="#offcanvasRight01" aria-controls="offcanvasRight01" style="color: #fff;">Olvidé mi contraseña</a>
                            </li>
                        </ul>
                    </div>
                    <div class="form-floating" style="text-align: center;">
                        <input class="btn btn-success" type="submit" value="Ingresar" style="margin-right: .5rem;">
                        <input class="btn btn-success" type="reset" value="Limpiar">
                    </div>
                </form>
            </div>            
            <div class="contenedorFormRegistro">
                <form class="registro" v-if="registro" @submit.prevent="registroCliente" id="registro">
                    <div class="mb-3">
                        <input type="text" v-model="nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" v-model="apellido" class="form-control" placeholder="Apellido" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" v-model="email" class="form-control"  placeholder="Email@ejemplo.com" required>
                    </div>
                    <div class="input-group mb-3">
                        <input :type="type" v-model="contraseña" maxlength="12" class="form-control" placeholder="Contraseña" required>
                        <button v-if="hidden" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword" style="background-color: white;"><img src="./assets/hidden.png" alt=""></button>
                        <button v-if="show" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword" style="background-color: white;"><img src="./assets/show.png" alt=""></button>
                    </div>
                    <div class="input-group mb-3">
                        <input :type="type2" v-model="contraseña2" maxlength="12" class="form-control" placeholder="Repetir contraseña" required>
                        <button v-if="hidden2" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword2" style="background-color: white;"><img src="./assets/hidden.png" alt=""></button>
                        <button v-if="show2" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword2" style="background-color: white;"><img src="./assets/show.png" alt=""></button>
                    </div>
                    <div class="form-floating" style="text-align: center;">
                        <input class="btn btn-success" type="submit" value="Registrar" style="margin-right: .5rem;">
                        <input class="btn btn-success" type="reset" value="Limpiar">
                    </div>
                </form> 
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight01" aria-labelledby="offcanvasExampleRight01" style="width: 20rem;">
                <div class="offcanvas-body" >
                    <div class="flex-shrink-0 p-3">
                        <button type="button" class="btn-close text-reset position-absolute top-0 end-0" data-bs-dismiss="offcanvas" aria-label="Close" id="close-nav"></button>
                        <p class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                            <svg class="bi me-5" width="30" height="24"></svg>
                            <span class="fs-5 fw-semibold">Recuperar contraseña</span>
                        </p>
                        <form id="form-signin" @submit.prevent="enviarSolicitud">
                            <div class="mb-3">
                                <label for="validationDefault03" class="form-label" style="color: #000;">Correo electrónico:</label>
                                <input v-model="data.email" type="email" class="form-control" id="validationDefault03" placeholder="email@ejemplo.com" required>
                            </div>
                            <div class="form-floating" style="text-align: center;">
                                <input class="btn btn-primary contraseña" type="submit" value="Enviar" style="margin-right: .5rem;">
                                <input class="btn btn-primary contraseña" type="reset" value="Limpiar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>   
    </main> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>    
    <script src="./scripts/index.js"></script>
</body>
</html>