<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./estilos/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <title>Cambiar contraseña | Ball D'or</title>
</head>
<body >
    <main class="d-flex justify-content-around"  id="app" v-cloak>
        <div class="contenedorImgIndex d-none d-lg-flex align-items-end justify-content-center">        
            <img src="./assets/imagen-inicio.png" alt="Jugador de futbol en juego">
        </div>
        <div class="d-flex flex-column contenedorForm">
            <a href="index.html" id="cambio-contraseña"><h2 id="title">Ball D`or</h2></a>
            <div class="contenedorFormRegistro">
                <form class="registro" @submit.prevent="cambiarContraseña" id="registro">
                    <div class="mb-3">
                        <label for="validationDefault03" class="form-label">Correo electrónico:</label>
                        <input v-model="data.email" type="email" class="form-control" id="validationDefault03" placeholder="email@ejemplo.com" required>
                    </div>
                    <label for="contraseña" class="form-label">Ingrese nueva contraseña:</label>
                    <div class="input-group mb-3">
                        <input :type="type" v-model="data.contraseña" maxlength="12" class="form-control" placeholder="&#149&#149&#149&#149&#149&#149&#149&#149" required>
                        <button v-if="hidden" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword" style="background-color: white;"><img src="./assets/hidden.png" alt=""></button>
                        <button v-if="show" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword" style="background-color: white;"><img src="./assets/show.png" alt=""></button>
                    </div>
                    <label for="contraseña" class="form-label">Repita contraseña:</label>
                    <div class="input-group mb-3">
                        <input :type="type2" v-model="data.contraseña2" maxlength="12" class="form-control" placeholder="&#149&#149&#149&#149&#149&#149&#149&#149" required>
                        <button v-if="hidden2" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword2" style="background-color: white;"><img src="./assets/hidden.png" alt=""></button>
                        <button v-if="show2" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword2" style="background-color: white;"><img src="./assets/show.png" alt=""></button>
                    </div>
                    <div class="form-floating" style="text-align: center;">
                        <input class="btn btn-success" type="submit" value="Cambiar" style="margin-right: .5rem;">
                        <input class="btn btn-success" type="reset" value="Limpiar">
                    </div>
                </form> 
            </div>
        </div>   
    </main> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>    
    <script src="./scripts/index.js"></script>
</body>
</html>