*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body_background{
    background-image: url("../assets/background-index.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
.gray_background{
    background-color: #262626;
}
.pointer{
    cursor: pointer;
}
[v-cloak]{
    display: none;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance:textfield;
}
.blue_hover:hover{
    color: aqua !important;
}
.red_hover:hover{
    color: red !important;
}