*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
main{
    height: 100% !important;
    width: 100%;
    background-image: url("../assets/background-index.jpg");    
    background-size: cover;
    color:#fff;
}
.contenedorImgIndex{
    width: 50%;
}
.contenedorImgIndex img{
    width: 80%;
}
.form{
    width: 50%;
}
.form.inicioSesion.contenedorInput{
    width: 80%;
    margin: 1rem 0;
}
.form .inicioSesion button{
    width: 50%;
    margin: 1rem 0;
}
form h2{
    font-family: 'Racing Sans One', cursive;
    font-size: 8vh;
}


