*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    user-select: none;
}
.swal-button--confirm{
    background-color: #4E9F3D;
}
main{
    height: 100% !important;
    width: 100%;
    background-image: url("../assets/background-index.jpg");    
    background-size: cover;
    color:#fff;
    overflow: hidden;
}
.contenedorImgIndex{
    width: 50% !important;
}
.contenedorImgIndex img{
    width: 80% !important;
}
h2#title{
    font-family: 'Racing Sans One', cursive;
    font-size: 5rem !important;
}
.contenedorForm{
    width: 50%;
    padding-top: 5rem;
    align-items: center !important;
}
.btnGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnGroup button{
    width: 25rem;
}
.contenedorFormIngresar,.contenedorFormRegistro{
    width: 25rem;
    overflow: hidden;
}
.inicioSesion,#registro{
    width: 25rem;
    padding: 1rem;
    background-color: rgb(155, 155, 155, .5);
    border-radius: 1rem;
    margin-top: 1rem;
    animation: ingresarInput 2s;
}
@keyframes ingresarInput {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    } 
}


@media screen and (max-width: 769px){
    .contenedorForm{
        width: 100%;
    }
}

@media screen and (max-width: 426px) {
    .btnGroup button{
        width: 20rem;
    }
    .inicioSesion,#registro,.contenedorFormIngresar,.contenedorFormRegistro{
        width: 20rem;
    }
    h2#title{
        font-size: 35px !important;
    }
}


