/* Paleta de colores */

.color1 {color: #191A19;}
.color2 {color: #1E5128;}
.color3 {color: #4E9F3D;}
.color4 {color: #D8E9A8;}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    user-select: none;
}
[v-cloak]{
    display: none;
}
.swal-button--confirm{
    background-color: #4E9F3D;
}

/* HEADER */

header#webPages{
    padding: 0 2rem 0 2rem;
    background-image: url("../assets/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
}
img#logo{
    width: 70% !important;
    padding: 0 !important;
    object-fit: contain;
    transition: 1s;

}
img#logo:hover{
    transform: scale(1.2);
}
h1#name-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center !important;
    margin-top: .5rem;
    color: #D8E9A8;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
div#avatar{
    background-image: url("../assets/profile.png"); /* Es dinámico, cambiar cuando se aplique Veu.js */
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
a#name-profile{
    color: #D8E9A8;
    float: right;
    font-size: x-large !important;
    margin-top: .8vh !important;
}
ul.shadow{
    background-color: #D8E9A8;
}
a#go-to{
    text-decoration: none;
    color: #000;
}
a#go-to:hover{
    background-color: #4E9F3D;
    font-weight: bold;
    text-decoration: underline;
}

/* BARRA DE NAVEGACIÓN */

nav#navbar-1{
    padding: .5rem 2rem .5rem 2rem;
    background-color: #D8E9A8;
}
button#menu{
    width: 3rem;
    height: 2.5rem;
    background-color: #4E9F3D;
    border: none;
}
a#navegation{
    border: none;
    border-radius: 25px;
    background-color: rgb(78, 159, 61, .8);
    width: 6.4rem;
    color: #000;
    padding: .5rem;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
a#navegation:hover{
    background-color: #4E9F3D;
    color: #D8E9A8;
    text-decoration: underline;
}
div#body-menu-canvas1{
    background-color: #D8E9A8;
}
button#close-nav{
    margin-right: 1rem;
    transform: translateY(1.2rem);
}
button#button-nav-accordion{
    background-color: #D8E9A8;
}
button#button-nav-accordion:not(.collapsed){
    background-color: #4E9F3D;
}
a.others{
    color: #191A19;
    font-weight: bold;
}
a.others:hover{
    background-color: #4E9F3D;
    text-decoration: underline;
}

/* MAIN */

main#pages{
    margin: 1rem 2rem 1rem  2rem;
    min-height: 60vh;
}
#compras{
    min-height: 50vh;
}

/* FOOTER */

section#footer-social{
    margin: .5rem .5rem .5rem 2rem;
}
a#social{
    margin-right: .5rem;
}
section#footer_suscribete{
    background-color: #4E9F3D;
    padding: 2.5vh 1vw 1vh 2.5vw;
}
p.familia{
    font-weight: 900;
    font-size: 1.2rem;
    margin: 0;
}
input#footer_enviar{
    background-color: #D8E9A8;
    color: #000;
    border: none;
}
input#footer_enviar:hover{
    font-weight: bold;
}
div#enviar_footer{
    text-align: center;
}
section#footer_nav{
    background-color: #D8E9A8;
    padding: 2.5vh 1vw 1vh 2.5vw;
}
h2.tittle-footer{
    text-indent: 1.5rem;
}
div#navbar-2{
    width: 250px !important;
}
a#footer{
    color: #191A19;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #191A19;
}
a#footer:hover{
    color: #1E5128;
}
section#footer_copy_tyc{
    background-color: #191A19;
    padding: 1rem 0 0 0;
}
p#footer-page{
    color: #646b63;
    font-weight: bold;
    text-align: center;
}

/* HOME */
container
h2.subtitle{
    margin-bottom: 1rem;
}
h2.titulo-oferta{
    background-image: url("../assets/player.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #D8E9A8;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 1rem;
}
img#etiqueta{
    z-index: 2;
    transform: translateX(3rem);
}
img#product{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    z-index: 1;
}
h4.title-product{
    text-align: center;
    margin: .3 0 .3rem 0;
}
p.description{
    text-align: center;
}
a.view-details{
    background-color: #4E9F3D;
    color: #000;
    border: none;
    margin-bottom: 1rem;
}
a.view-details:hover{
    background-color: #4E9F3D;
    color: #000;
    font-weight: bold;
}
th.reservas{
    text-align: center;
    font-size: larger;
    background-color: #4E9F3D;
}
th.header-tabla, td.body-tabla, td.body-tabla-cancelar{
    text-align: center;
}
a#cancelar, a#cancelar-card{
    background-color: #4E9F3D;
    border: none;
    color: #000;
}
a#cancelar:hover, a#cancelar-card:hover{
    font-weight: bold;
}
div.tabla-alert{
    margin: 0;
}
p#alerta{
    margin: 0;
}
div#accordionFlushExample, div#movil{
    display: none !important;
}
button.accordion-button{
    background-color: #4E9F3D;
    font-weight: bold;
}
button.accordion-button:not(.collapsed){
    background-color: #4E9F3D;
    color: #000;
}
div#card-reserva{
    padding: 1rem;
    margin-bottom: 1rem;
}
p#card-body-name{
    font-weight: bold;
    font-size: x-large !important;
}
p#card-body{
    margin: 0;
}
a#cancelar-card{
    margin-top: .5rem;
}

/* SOBRE NOSOTROS */

div#sponsors{
    margin-bottom: 1rem;
}
p.text{
    text-indent: 2rem;
    text-align: justify;
}
h5.title-nosotros{
    margin: .5rem 0 .3rem 0;
    text-align: center;
}

/* CONTACTO */

p.contacto{
    margin: 0;
    font-weight: 900;
}
div#iconos{
    margin-right: 2rem !important;
}

img#icon-contact{
    width: 50px !important;
}
a.mail{
    color: #000;
    text-decoration: none;
}
a.mail:hover{
    font-weight: 900;
    text-decoration: underline;
}
form#consults{
    padding: 0 1rem 0 1rem;
}
label.label-form{
    margin-bottom: .3rem;
}
p#counter{
    text-align: right;
}
input#form-enviar{
    background-color: #D8E9A8;
    border: none;
    color: #000;
}
input#form-enviar:hover{
    font-weight: bold
}

/* CONFIGURACIÓN */

h2.title-page{
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}
h3.title-conf{
    text-align: center;
}
form#form-data{
    padding: 1rem;
    background-color: #4E9F3D;
    border-radius: 20px;
    margin-bottom: 1rem;
}
label#formulary-conf{
    margin: 0;
    font-weight: bold;
}
div#send-consults{
    text-align: center;
}
input#form-cambiar{
    background-color: #D8E9A8;
    color: #000;
    border: none;
}
input#form-cambiar:hover{
    font-weight: bold;
}

/*CANCHAS*/

.contenedorBtnCanchas button{
    width: 10rem;
    background-color:#191A19 !important;
    transition: 1s;
}
.contenedorBtnCanchas button:hover{
    transform: scale(1.2);
}

.contenedorCanchas p{
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: #0003;
    margin-top: .5rem;
}


/*CALENDARIO*/

.contenedorPrincipalCalendario{
    width: 80%;
    min-height: 25rem; 
    background-image: url(../assets/fondoCalendario.jpg);
    background-size: cover;
    background-position: bottom;
    margin: auto;
    border-radius: 1rem; 
}

.contenedorCalendario{
    width: 100%;   
    color: #fff;  
    animation: calendario 1.5s;   

}
@keyframes calendario {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.contenedorMes{
    width: 100%;
    margin: auto;
}
.contenedorMes div{
    width: 33%;
    text-align: center;
    font-weight: 900;

}
.divMes{
    background-color: #fff9;
    padding: 0.5rem 0;
    border-radius: .5rem;
    color: #000;
}
.btnMes{
    font-size: 30px;
    cursor: pointer;
}
.contenedorDias,.contenedorNumDia{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 10px;
}
.contenedorDias div{
    text-align: center;
    font-weight: 800;
    background-color: #0009;
    padding: .3rem;
    border-radius: .5rem;
}
.contenedorNumDia div{
    text-align: center;
    width: 2rem;
    margin: auto;
    cursor: pointer;
    background-color: #0008;
    padding: .3rem;
    border-radius: 50%;
}
.hoy{
    background-color: #ddd !important;
    border-radius: 50%;
    color: #000;
}
.diasAnteriores{
    opacity: .6;
}
.contenedorPrincipalReserva{
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    overflow: hidden;
}
.contenedorReserva{
    width: 100%;  
    animation: reserva 1.5s;
}
@keyframes reserva {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
.contenedorReserva li{
    border-radius: .5rem;
    margin: .3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedorReserva button,.btnReserva{
    background-color: #191A19 !important;
}
.contenedorConfirma{
    width: 60%;
    height: 50%;
    margin: auto;
    background-color: #0009;
    text-align: center;
    border-radius: .5rem;
    padding: .5rem;
    animation: confirmacion 1.5s;
}
@keyframes confirmacion {
    0%{
        transform: scale(0);
    }
    60%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

/* CARRITO DE COMPRAS */
#offcanvasRightCarrito{
    width: 40rem;
}
#offcanvasRightLabel{
    font-size: 30px;
}
.imgCarrito{
    width: 60%;
    margin: auto;
    opacity: .5;
}
.contenedorProductoCarrito{
    width: 100%;
    height: 7rem;
    padding: .5rem;
    border-bottom: 1px solid #1E5128;
}
.contenedorImgProductoCarrito{
    width: 6rem;
    height: 100%;
    border: 1px solid #1E5128;
    padding: .5rem;
}
.contenedorImgProductoCarrito img{
    width: 100%;
}
.contenedorInfoProductoCarrito{
    width: 13rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}
.contenedorInfoProductoCarrito>div{
    width: 100%;
}
.contenedorBtnEliminar{
    width: 13rem;
    align-items: center;
    justify-content: space-between;
}
.contenedorBtnEliminar button{
    width: 9rem !important;
    height: 2.5rem !important;
    padding: 0 !important;
}
.headerCarrito{
    background-color: #D8E9A8;
}
.contenedorTotalCarrito h5{
    background-color: #0003;
    padding: .5rem;
    border-radius: .5rem;
}
.contenedorComprarCarrito button{
    width: 7rem;
    transition: 1s;
}
.contenedorComprarCarrito button:hover{
    transform: scale(1.2);
}
.btnComprar{
    background-color: #1E5128;
}
.btnComprar:hover{
    background-color: #4E9F3D !important;
}


/*FIN CARRITO*/

/* TIENDA */
.contenedorTiendaHeader{
    width: 80%;
    min-height: 50vh; 
    background-image: url(../assets/background-tienda.jpg);
    background-size: cover;
    background-position: bottom;
    margin: auto;
    border-radius: 1rem;
    font-family: 'Mitr', sans-serif;
}

.tituloTienda{    
    font-family: 'Mitr', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.parraffoTienda{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.fa-shopping-bag::before{
    font-size: 32px;
}
/*TARJETAS*/
.contenedorTarjetasYFiltro{
    width: 100 !important;
}
.contenedorFiltros{
    width: 20%;
    height: 30rem;
    position: sticky;
    top: 0;
}
.contenedorFiltros label{
    cursor: pointer;
    width: 7rem;
    background-color: #D8E9A8;
    border: 1px solid #1E5128;
    text-align: center;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-weight: 900;
}
.contenedorInputPrecio label{
    cursor: pointer;
    width: 7.5rem;
    padding: .5rem;
    background-color: #D8E9A8;
    border: 1px solid #1E5128;
    text-align: center;
    font-weight: 600;
    margin-left: .5rem;
    border-radius: .5rem;
}
.contenedorFiltros input:checked~label,.contenedorInputPrecio input:checked~label{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75) inset;
}
.album{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container:not(div#home){
    width: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.tamano-card{
    width: 20rem;
    margin: 1rem;
}
.card:not(div#card-reserva){
    height: 25rem;
    width: 20rem;
    border: 1px solid #1E5128; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;      
}
.card img{
    height:10rem;
    object-fit: contain; 
    margin: .5rem;       
}
.card h6{
    font-size: 30px;
}
.selectTalle{
    width: 100%;
    padding: .5rem 0;
    background-color: #1E512855;
}
.buscarProducto{
    width: 100%;
    height: 4rem;
    margin: auto;
    margin-top: 2rem;
    padding: 0;
    padding-left: 10rem;
    display: flex;
    justify-content: center;
    align-items: center !important;
    position: sticky;
    top: 0;
    z-index: 30;
}
.divInputBuscar{
    width: 30rem;
    height: 3rem;
    margin:0 1rem ;
}
.buscarProducto input{
    width: 100%;
    height: 100%;
    border: 1px solid #1E5128;
    margin: 0;
    padding-left: .5rem;
}
.buscarProducto input::placeholder{
    color: #1E5128;
    font-size: 18px;
}
.buscarProducto button{
    border: 1px solid #1E5128;
}

.contenedorFiltroPrecio{
    width: 18rem;
}
.contenedorInputPrecio{
    width: 50%;
}

/*MODAL CREADO*/
.contenedorPrincipalModal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0008;
    animation: modalAnimacion 1.5s;
    z-index: 40;
}
.contenedorModalAnimacion{
    width: 30rem;
    height: 22rem;
    border-radius: 1rem;
    border: 1px solid #1E5128;
    background-color: #1E5128;
    padding: 1.5rem;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%) !important;
    color: #fff;
    
}
@keyframes modalAnimacion {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);

    }
}
.contenedorModalAnimacion input{
    padding: .3rem;
    border-radius: .5rem;
    border: none;
    width: 15rem;
}
.contenedorModalAnimacion button{
    background-color: #D8E9A8 !important;
    border: 1px solid #1E5128;
    color: #000;
}
.contenedorModalAnimacion button:hover{
    border: none !important;
    color: #000;
}
.contenedorModalAnimacion label{
    cursor: pointer;
}
/*mis compras*/
.accordion{
    width: 60%;
    margin: auto;
    margin-top: 1rem;
}
.animacionAcordion{
    transition: all 1s !important;
    border: 1px solid #1E5128 !important;
}
.animacionAcordion p{
    font-weight: 900;

}
.accordion-button{
    font-size: 22px;
}
.link-activo{
    color: #D8E9A8 !important;
}



@media screen and (max-width: 1024px) {
    /* HEADER */

    img#logo{
        width: 70px !important;
        padding: 0 !important;
    }
    div#navbarSupportedContent{
        display: none !important;
    }
    a#name-profile{
        float: right;
        font-size: large !important;
        margin-top: 2vh !important;
    }

    /* BARRA DE NAVEGACIÓN */

    button#menu{
        display: block;
    }
    a#navegation{
        color: #191A19;
        font-weight: bold;
        font-size: medium;
    }
    a#navegation:hover{
        color: #1E5128;
        text-decoration: underline;
    }

    /* FOOTER */

    div#navbar-2{
        width: 200px !important;
    }
}

@media screen and (max-width: 768px) {
    /* HEADER */

    h1#name-title{
        text-align: left !important;
    }
    
    /* FOOTER */

    div#navbar-2{
        width: 150px !important;
    }

    /* CONTACTO */

    div#iconos{
        margin-right: 1.8rem !important;
    }
    
    img#icon-contact{
        width: 40px !important;
    }
}

@media screen and (max-width: 426px) {
    /* HEADER */
    body{
        width: 100% !important;
    }
    main#pages{
        margin: 0 !important;
        width: 100%;
    }
    img#logo{
        width: 60px !important;
    }
    h1#name-title{
        font-size: larger !important;
    }
    a#name-profile{
        display: none !important;
    }

    /* BARRA DE NAVEGACIÓN */

    nav#navbar-1{
        margin-bottom: 1rem !important;
    }

    /* FOOTER */

    div#navbar-2{
        width: 250px !important;
    }

    /* HOME */

    div#ordenador{
        display: none !important;
    }
    div#accordionFlushExample, div#movil{
        display: block !important;
    }

    /* CONTACTO */

    img#icon-contact{
        width: 40px !important;
    }
    /* CALENDARIO */
    .contenedorPrincipalCalendario{
        width: 100%;
        font-size: 12px;
        padding: 0;
    }
    .contenedorDias{
        font-size: 9px;
        grid-gap: 0px;
        padding: 0;
    }
    .contenedorBtnCanchas{
        flex-direction: column;
    }
    .contenedorPrincipalReserva{
        width: 100%;
    }
    .contenedorTiendaHeader{
        width: 100%;
    }
    .buscarProducto{
        padding: 0;
        flex-direction: column;
        align-items: center;
        height: 12rem !important;
        justify-content: space-between;
    }
    .divInputBuscar{
        width: 100% !important;
        justify-content: center !important;
        align-items: center !important;
    }
    #busqueda{
        width: 100%;
        margin: 0 !important;
        margin: .2rem 0;
    }
    .contenedorTarjetasYFiltro{
        flex-direction: column;
        align-items: center;
    }
    .contenedorFiltros{
        width: 100%;
        height: auto !important;
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        position: unset;
    }
    .contenedorCheckbox{
        margin: 0 !important;
        margin: .5rem 0 !important;
    }
    .tamano-card,.container{
        width: 20rem;
        padding: 0 ;
    }
    .selectTalle{
        width: 20rem !important;
    }
    .contenedorImgProductoCarrito{
        display: none !important;
    }
    .contenedorProductoCarrito{
        padding: 0 !important;
    }
    .bodyCarrito{
        padding: 0;
        padding-top: 1.5rem;
    }
    .contenedorBtnEliminar button {
        margin-bottom: .5rem;
        width: 8rem;
        height: 2rem;
    }
    #accordionFlushExample{
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}



